@model IEnumerable<Staj1.Models.ResmiTatiller>

@{
    ViewBag.Title = "TatilGunleri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<p style="font-size:19px"><a style="margin-left: 365px">Açıklama:</a> Lütfen sene içindeki resmi tatil günlerini ekleyiniz. </p><hr />


<script>
    function GunSil(id) {

        if (confirm('Tarih Bilgisi Silinsin mi?')) {
            var model = {
                "id": id
            };

            $.ajax({
                url: '/Admin/GunSil',
                type: "POST",
                data: model,
                success: function (result) {
                    alert("Tarih Başarıyla Silindi")
                    location.reload();
                }
            });

        }
    }
</script>


<form action="/Admin/TatilGunleri" method="post">

    <p style="margin-left:460px">Lütfen tarih bilgisini seçiniz.</p>
    <input type="date" name="resmitatiller" style="width:350px;margin-left:368px;text-align:center;font-size:17px" />
    <p style="margin-left:435px;margin-top:30px">Tarih ile ilgili açıklama metni girebilirsiniz.</p>
    <textarea style="margin-left:270px;width:550px;text-align:center" rows="2" name="Aciklama"></textarea><br />
    <button type='submit' class='btn btn-success' style="margin-left:400px; width:30%">Tarihi Kaydet</button><br />
    <br />
</form>


<hr />
<h3 style="font-weight:bold;font-style:italic;margin-left:450px">Eklenilen Resmi Tatil Günleri</h3>

<<table  id="example" class="table table-striped table-bordered" cellspacing="0">
    <thead>
        <tr style="font-size:19px">
            <th scope="col" style="font-weight:bold;">Eklenilen Resmi Tatil Günleri</th>
            <th scope="col" style="font-weight:bold;">Açıklama</th>
            <th scope="col" style="font-weight:bold;">Tarihi Sil</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr style="font-size:19px">
                <td style="">@item.ResmiTatil.ToString().TrimEnd('0', ':')</td>

                <td style="">@item.Aciklama</td>

                <td><a onclick="GunSil(@item.ID)"><button type="button" class="btn btn-danger ">Tarihi Sil</button></a></td>
            </tr>

        }

    </tbody>
</table>








