


/***** == BODY == *****/

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 19px; /*22px;*/
}

#wrapper {
    height: 100%;
}

#content {
    padding-top: 25px;
    padding-bottom: 25px;
}

/***** == GENERAL == *****/

/*a {
    text-decoration: none;
    color:*/ /*#666*/ /*mediumvioletred;
    
}*/

a:hover, a:active, a:focus {
    text-decoration: none;
    color: #333;
}

/*p {
    line-height: 26px;
}*/

pre {
    background-color: #000;
    color: #FFF;
}

/*h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
*/
.tab-content {
    padding: 10px;
}


/***** == HELPER CLASSES == *****/

.bg-gray {
    background-color: #EEE;
}

.bg-dark {
    background-color: #333;
    color: #EEE;
}

.text-bold {
    font-weight: bold;
}

.space10 {
    display: block;
    width: 100%;
    height: 10px;
}

.space20 {
    display: block;
    width: 100%;
    height: 20px;
}

.space40 {
    display: block;
    width: 100%;
    height: 40px;
}


.padding15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.padding-bottom0 {
    padding-bottom: 0px;
}

.padding-top0 {
    padding-top: 0px;
}


.margin15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.margin-bottom0 {
    margin-bottom: 0px;
}

.margin-top0 {
    margin-top: 0px;
}


/***** == HEADER == *****/



/* MAIN NAV */

.navbar {
    border: 0;
    margin-bottom: 0;
}

.navbar-collapse0 {
    float: right;
}

.navbar-default {
    height: 60px;
    background-color: rgba(0,0,0,0.6);
    border: 0;
}

    .navbar-default .navbar-nav {
        float: right;
        /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
        /* font-weight: bold;*/
    }

    .navbar-default .navbar-brand {
        color: #EEE;
        height: 60px;
        padding: 7px;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #5e5e5e;
            background-color: transparent;
        }

    .navbar-default .navbar-text {
        color: #EEE;
    }

    .navbar-default .navbar-nav > li > a {
        font-size: 19px;
        color: #EEE;
        padding-bottom: 20px;
        padding-top: 20px;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #DDD;
            background-color: rgba(0,0,0,0.8);
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #DDD;
        background-color: rgba(0,0,0,0.8);
    }

    .navbar-default .navbar-nav > .disabled > a,
    .navbar-default .navbar-nav > .disabled > a:hover,
    .navbar-default .navbar-nav > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }

    .navbar-default .dropdown-header {
        text-transform: uppercase;
        font-size: 14px;
        color: #FFF;
        font-weight: bold;
    }

    .navbar-default .divider {
        background-color: #000;
    }

    .navbar-default .dropdown-menu {
        background-color: rgba(0,0,0,0.8);
        border: none;
        min-width: 190px;
        box-shadow: none;
    }

        .navbar-default .dropdown-menu > li > a {
            color: #FFF;
            padding: 7px 20px;
            font-size: 16px;
        }

            .navbar-default .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > li > a:focus {
                color: #DDD;
                background-color: #000;
            }



    .navbar-default .navbar-toggle {
        border-color: #000;
        background-color: rgba(0,0,0,0.8);
        margin-top: 13px;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #000;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #DDD;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #000;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #EEE;
        background-color: rgba(0,0,0,0.8);
    }


@media (max-width: 767px) {
    .navbar-collapse {
        background-color: rgba(0,0,0,0.8);
        border-color: #000;
    }

    .navbar-default .navbar-nav {
        float: none;
    }

        .navbar-default .navbar-nav > li > a {
            font-size: 16px;
            color: #EEE;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .navbar-default .navbar-nav .open .dropdown-menu,
        .navbar-default .navbar-nav .open .dropdown-submenu {
            padding-top: 0;
            background-color: rgba(0,0,0,0.8);
            padding-bottom: 10px;
        }

            .navbar-default .navbar-nav .open .dropdown-menu > li > a {
                color: #DDD;
                padding-top: 6px;
                padding-bottom: 6px;
            }

            .navbar-default .navbar-nav .open .dropdown-submenu ul > li > a {
                font-size: 15px;
                margin-left: 15px;
            }

            .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
            .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
                color: #FFF;
            }

            .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
            .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
            .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
                color: #DDD;
                background-color: rgba(0,0,0,1);
            }

            .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
            .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
            .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
                color: #ccc;
                background-color: transparent;
            }
}

.navbar-default .navbar-link {
    color: #DDD;
}

    .navbar-default .navbar-link:hover {
        color: #FFF;
    }

.navbar-default .btn-link {
    color: #DDD;
}

    .navbar-default .btn-link:hover,
    .navbar-default .btn-link:focus {
        color: #FFF;
    }

    .navbar-default .btn-link[disabled]:hover,
    fieldset[disabled] .navbar-default .btn-link:hover,
    .navbar-default .btn-link[disabled]:focus,
    fieldset[disabled] .navbar-default .btn-link:focus {
        color: #ccc;
    }




/* multi level nav */


.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }




/***** == PAGE TITLE & BREADCRUMBS == *****/

#title {
    display: block;
    background-color: #EEE;
    width: 100%;
    min-height: 140px;
    padding-top: 58px;
}

    #title .breadcrumbs {
        padding-top: 34px;
        font-size: 12px;
        color: #888;
    }





/***** == FOOTER == *****/

#footer {
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 100px;
    padding-top: 35px;
    /*    height: 150px;
    padding-top: 15px;*/
    color: #FFF;
}

    #footer a {
        color: #CCC;
    }

        #footer a:hover, footer a:active {
            color: #DDD;
        }

    #footer h4 {
        padding-bottom: 15px;
    }

    #footer p {
        font-size: 15px;
        line-height: 20px;
    }

    #footer li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #footer .social-icons {
        font-size: 25px;
    }

    #footer .bottom {
        padding-top: 10px;
        padding-bottom: 15px;
    }

.facebook:hover, .facebook:active, .facebook:focus {
    color: #3b5998;
}

.twitter:hover, .twitter:active, .twitter:focus {
    color: #55acee;
}

.youtube:hover, .youtube:active, .youtube:focus {
    color: #bb0000;
}

.instagram:hover, .instagram:active, .instagram:focus {
    color: #bb0000;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #00695C;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
