@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CSS/AnaSayfa.css" rel="stylesheet" />
<script src=“https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js”></script>


<body>
    <div class="Anasayfa-h1">
        <div class="Anasayfa-IcerikAlani" style="text-align:center">
            <div style="margin-left:330px ">
                <h2 style="font-weight:bold">Kocaeli Üniversitesi Staj Takip Programı</h2><hr />
            </div>
        </div>

    </div>


    <p style="text-align:justify">
        Kullanıcı paneli üzerinden ilgili staj türünü seçtikten sonra giriş yapabilirsiniz. Giriş yapan her bir öğrenci staj başvuru belgelerini doldurup sistem üzerinden yükledikten sonra başvurusu onaylanan öğrenciler
        staj programlarını gerçekleştirebilirler. Stajınızı yaparken günlük olarak yaptığınız işleri sistem üzerinden kaydetmenizle staj defteriniz otomatik olarak hazırlanmış olacaktır. Lütfen sistemi günlük olarak
        takip etmeyi unutmayınız.
        <hr />
    </p>
    <div class="Anasayfa-IcerikAlani">
        <div style="margin-left:490px ">
            <h2><b>Staj Bilgilendirme</b></h2>
        </div>
    </div>

    <div style="text-align:justify">
        <p>
            Öğrenci toplam 60 iş günü staj yapmak zorundadır.<br />
            • 60 iş gününün tamamı aynı işyerinde veya işyerinin aynı biriminde
            yapılamaz.<br />
            • 60 iş günlük stajın ilk 30 günü en erken 2. Sınıf bittikten sonra
            yapılır. 1. Sınıf bittikten sonra staj yapılsa dahi kabul edilmemektedir.<br />
            • 2. sınıfın bitiminde 60 iş günü stajın tamamı yapılamaz. Stajın son 30
            iş günlük kısmı en erken 3. Sınıf bittikten sonra yapılabilir.<br />
            • 60 iş günlük staj için sigorta üniversite tarafından yapılmaktadır. Staj
            yapılan kurumun sigorta ödeme zorunluluğu yoktur. Staj yapılan kurum
            stajyerin sigortasını ödüyor olsa bile, staj sigorta işlemleriniz üniversite
            tarafından da yapılır.<br />
            • Öğretim dönemi içerisinde mesai saatleri içerisinde ders devam
            zorunluluğundan dolayı staj yapılamaz. Bütünleme sürecinde staj
            yapabilirler. Öğrenci staj
            tarihleri içerisinde bütünleme sınav(lar)ına girecekse o gün(ler) için
            tam/ yarım gün staj yapılan kuruluştan izin alınmış olması gerekir ve
            bu günler telafi edilmelidir. Öğrencilerin staj hakkı 2. Sınıf bittikten sonra
            başlar.<br />
            • Mezuniyet aşamasına gelen öğrenciler komisyon kararı ile dönem içerisinde
            staj
            yapabilirler.<br />
            • 60 iş günü staj şu şekilde yapılır.<br />
            • 30 iş günü Staj 1 (2. Sınıf bitince)<br />
            • 30 iş günü Staj 2 (3. Sınıf bitince)<br />
            • Staj yeri bulma sorumluluğu öğrenciye aittir.<br />
            • Staj yapılan kurumda ilgili meslek ile ilgili mühendis (Bilişim Sistemleri,
            Bilgisayar, Elektronik, Elektrik, Mekatronik, Yazılım Müh.) olması zorunludur.
            Stajyerden sorumlu mühendisin mesleki iş alanı Bilişim Sistemleri/Bilgisayar
            Mühendisliği İle ilgili olmalıdır. Yazılım Şirketleri, Üretim (Fabrika gibi) yerlerinin
            Bilgi İşlem merkezleri, Haberleşme Teknolojisi Firmalarının yazılım ve bilgisayar
            donanım merkezleri, Bilişim Ar-ge merkezleri veya firmaları, Devlet kurumlarının
            (Bakanlıkların, Büyükşehir Belediyelerin, Genel Müdürlüklerin veya üniversitelerin
            bilgi işlem merkezleri, bankaların genel bilgi işlem merkezleri (şubelerin değil)
            Bilişim Sistemleri mühendisliği için genellikle staj yapma alanlarıdır.<br />
            • Staj, mühendislik anlamında teorik bilgi öğrenme amaçlı değil, teorik bilginin
            uygulamasının görülmesi geliştirilmesi ve değerlendirilmesi amacı ile
            yapılmaktadır. Bu bakımdan esas amaç staj yerindeki Bilişim Sistemleri
            Mühendisliği mesleğinin görev ve sorumluluklarını, işleyişini görmek ve sistem
            bakımından gözlem yapmaktır.<br />
        </p>
    </div>
    <hr />

    <div class="Anasayfa-IcerikAlani">
        <div style="margin-left:490px ">
            <h2><b>Staj Öncesinde Yapılacaklar</b></h2>
        </div>
    </div>
    <p>
        1) Öğrenci staj yapacağı işyerine Zorunlu Staj Formunu (Ek-1) BİLGİSAYAR
        ORTAMINDA doldurup kaşeletip imzalatacaktır.<br />
        2) Öğrencinin formu 2 nüsha halinde doldurup (Ek-1’de verilmiştir) staj komisyonunu
        üyelerinden birine staja başlamadan en geç 1 ay kala teslim edilmesi ve onaylatılması
        gerekmektedir.<br />
        3) Formun bir nüshası komisyon tarafından onaylandıktan sonra size teslim edilecektir.
        Staj belgelerini komisyonu üyelerine getirmeniz gerekmektedir. Başka hocalarınızı bu konuda
        rahatsız etmeyiniz. <br />
        4) Staj yeri komisyon tarafından onaylandıktan sonra öğrenci, staja başlamadan önce Staj
        Değerlendirme Formunu (Ek-2) ve Staj Raporu’nu (Ek-3) resimlerini (dijital olarak da
        basılabilir) yapıştırıp Staj (SGK) Bürosu’na mühürletecektir.<br />
        5) Öğrenci staja başlamadan önce, Staj (SGK) Bürosu’ndan alacağı Sigortalı İşe Giriş
        Bildirgesi (SGK Belgesi ) ve Staj Değerlendirme Formunu staj yapacağı işyerine teslim
        etmek zorundadır.<br /><br />
         SGK Belgesi almak için TC Kimlik Numarası gerekmektedir.<br />
         SGK Belgesini arkadaşınız sizin adınıza alabilir veya e-devletbr
        üzerinden alabilirsiniz.<br />
         SGK Belgesi 30 gün öncesinden çıkmamaktadır <br />
    </p>
    <hr />
    <div class="">
        <div class="Anasayfa-IcerikAlani">
            <div style="margin-left:450px ">
                <h2><b>Staj Sırasında Yapılacaklar</b></h2>
            </div>
        </div>
    </div>
    <p style="text-align:justify">
        1) Öğrenci Staj Defteri'ni günlük olarak dolduracaktır.<br />
        2) Sistemde mevcut olan Staj Raporu'nu öğrencilerimiz el yazısıyla kendileri
        doldurabildiği gibi, bilgisayar çıktısı olarak da düzenleyebilirler.<br />
        3) Değerlendirme Formu’nda şirkete ait mühür ve birim amirinin imzasının olması
        gerekmektedir. Sicil fişi kapalı bir zarfa konmalı ve zarf da mühürlenmelidir.<br />
        4) Staj Raporu’nda ise tüm sayfalarda birim amirinin imzası ve ilk sayfasında şirkete ait
        mühürün olması gerekmektedir.<br />
        5) Staj Raporu’nda fotoğraf kısmına öğrenci vesikalık resmini ekledikten sonra bölüm
        sekreterliğinden resmin üzerine mühür yaptırmalı ve daha sonra evraklarını komisyon
        üyelerine teslim etmeleri gerekmektedir.<br />
    </p>

    <hr />
    <div class="">
        <div class="Anasayfa-IcerikAlani">
            <div style="margin-left:470px ">
                <h1><b>Staj Sonrasi Yapılacaklar</b></h1>
            </div>
        </div>
    </div>

    <p style="text-align:justify">
        <BR />
        1) Öğrenci Staj Değerlendirme Formu'nu ve Staj Raporu'nu komisyonun belirlediği
        tarih aralığında bölümünün Staj Komisyonuna elden teslim etmesi gerekmektedir.<br />
        2) Staj yapan öğrencilerin sunumu tarihi Staj Komisyonu tarafından belirlenir ve 1 hafta
        öncesinden <a href=" http://bilisim.kocaeli.edu.tr/" style="color:seagreen"><b>ttp://bilisim.kocaeli.edu.tr/</b>h</a>  web adresinden öğrencilere duyurulur.<br />
        3) Yazın staj yapan öğrencilerin sunumu ise güz yarıyılının ders kayıt ve ekle/çıkar
        haftası içinde yapılır.<br />
    </p>

    <hr>
    <div style="margin-left:450px ">
        <p><b>Staj başvuru ve kabul formu: <a href="~/StajBelgeleri/StajBasvuruKabulFormu.pdf" class="Anasayfa-a" style="color: #00897B">tıklayınız</b></a></p>
        <p><b>Staj değerlendirme formu: <a href="~/StajBelgeleri/stajdegerlendirmeformukoü.pdf" class="Anasayfa-a" style="color: #00897B">tıklayınız</b></a></p>
        <p><b>Staj raporu: <a href="~/StajBelgeleri/stajraporukoü.pdf" class="Anasayfa-a" style="color: #00897B">tıklayınız</a></b></p>
        <p><b>Devlet katkısı talep formu: <a href="~/StajBelgeleri/devlet-katkisi-talep-formukoü.pdf" class="Anasayfa-a" style="color: #00897B">tıklayınız</a></b></p>

    </div>
    <br /><br />



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-post">

                    <div class="headline"><h2>Dosyalar</h2></div>




                    <p>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables">
                            <tr>
                                <th width="70%">İzlenecek Adımlar</th>
                                <td align="center"><a href="dosyalar/isyeri/ime_akisDiyagrami.pdf"><img src="~/Content/Logo/pdf.png" /></a></td>
                            </tr>
                        </table>
                    </p>

                    <p>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables">
                            <tr>
                                <th width="70%">İME Yönergesi</th>
                                <td align="center"><a href="dosyalar/isyeri/ime_yonerge.doc"><img src="~/Content/Logo/pdf.png" /></a></td>
                            </tr>
                        </table>
                    </p>

                    <p>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables">
                            <tr>
                                <th width="70%">İşletmede Mesleki Eğitim Kabul Formu</th>
                                <td align="center"><a href="dosyalar/isyeri/isyerikabulformu.doc"><img src="~/Content/Logo/pdf.png" /></a></td>
                            </tr>
                        </table>
                    </p>

                    <p>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables">
                            <tr>
                                <th width="70%">Değerlendirme Formu</th>
                                <td align="center"><a href="dosyalar/isyeri/ime_DegerlendirmeFormu.doc"><img src="~/Content/Logo/pdf.png" /></a></td>
                            </tr>
                        </table>
                    </p>

                    <p>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables">
                            <tr>
                                <th width="70%">Denetim Formu </th>
                                <td align="center"><a href="dosyalar/isyeri/ime_Denetim Formu.doc"><img src="~/Content/Logo/pdf.png" /></a></td>
                            </tr>
                        </table>
                    </p>


                    <p>
                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables">
                            <tr>
                                <th width="70%">İşletmede Mesleki Eğitim Rapor Yazım Kuralları</th>
                                <td align="center"><a href="dosyalar/isyeri/Ek4-RaporYazimKurallari.doc"><img src="~/Content/Logo/pdf.png" /></a></td>
                            </tr>
                        </table>
                    </p>


                    <br>


                </div>
            </div>
        </div>
    </div>
</body>

<hr />
